<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamro Grocery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
    </header>
    <h1>Welcome to Hamro Grocery online store.</h1>    
    <h2>Shop your daily needs.</h2>
    <ul>
        <li>Meats</li>
        <li>Fresh Produce</li>
        <li>Grocery</li>
        <li>Frozen foods</li>
    </ul>
    <a href="/products" button id="myProducts">View available products</a>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>